body {
  line-height: 1.6;
  margin: 0 auto;
}

.lighterHeader {
  background-color: #008AC2;
  height: 3.75em;
}

.logo {
    height: 1.875em;
    width: 1.875em;
    margin-left: 1em;
    float: left;
    margin-top: 1em;
}

.title {
  height: 1.875em;
  width: 10em;
  background-color: #0089C4;
  margin-left: 1em;
  float: left;
  margin-top: 1.25em;
}

.darkerHeader {
  height: 3.75em;
  background-color: #006FA6;
  width: 4.375em;
  float: right;
  text-align: center;
  color: white;
}
.titleW {
  color: #E7EDEE;
  font-size: 1.25em;
}

.titleC {
  color: #6DC4E2;
  font-size: 1.25em;
}

.logIn {
  color: white;
  margin-top: 1.875em;
  text-align: center;
  display: block;
  font-size: .75em;
}

.first {
  background-image: url("https://s1.wp.com/home.logged-out/images/pic-crowd-mobile-2x.webp?2");
  color: white;
  padding-bottom: 4.6875em;
  padding-top: 10em;
}

.top {
    font-family: 'Helvetica', sans-serif;
    text-align: center;
}

.aboveButton {
  font-family: 'Helvetica', sans-serif;
  text-align: center;
}

.firstButton {
  background-color: #118BC0;
  text-align: center;
  margin: 0 auto 13.125em auto;
  width: 45%;
  height: 3.125em;
  border: .5em solid rgba(33, 41, 52, .5);
  font-size: 1.3em;
}

.createButton {
  margin: .7em 0 0 0;
}

.down {
  width: 5%;
  height: 1em;
  margin: 0 auto 0 auto;
  margin-bottom: 8.4375em;
}

.para {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1.875em;
}

.paraImage {
  height: 3.75em;
  width: 3.125em;
  margin-top: .75em;
  vertical-align: bottom;
}

.paraText {
  height: 3.4375em;
  width: 15em;
  float: right;
  margin-right: .2em

}

.para h4 {
  margin: 0.7em 0 -.25em 0;
}

.second {
  background-color: #E8F0F5;
  padding: 0 0 1.25em 0;
}

.hypePara {
  color: #2E405D;
  text-align: center;
  margin-bottom: 1.075em;
  font-size: 1.5em;
  padding-top: .075em;
}

.greyWrap {
  background-color: #D1D3D7;
  padding: 1.875em 0 .075em 0;
  width: 98%;
  margin: 0 auto 0 auto;
}

.greyDiv{
  background-color: #fff;
  margin: 0 auto 1.875em auto;
  width: 96%;
  padding: 1.25em 0 2em 0;
}

.greyImg {
  background-color: #C7D2D8;
  width: 2.05em;
  margin: 1.25em auto 0 auto;
  display: block;
  border-radius: 50%;
  height: 1.875em;
  padding: .5em;
}

.greyHeader {
  width: 24em;
  height: 1.5em;
  margin: .675em auto 0 auto;
  text-align: center;
  color: #526C7B;
  font-family: Helvetica;
}

.greyFont {
  text-align: center;
  margin: 1.25em auto 0 auto;
  width: 24em;
  height: 3em;
}

.hypeParaTwo {
  color: #2E405D;
  text-align: center;
  margin-bottom: 1.075em;
  font-size: 1.4em;
  padding-top: .075em;
}

.secondButton {
  background-color: #118BC0;
  text-align: center;
  width: 45%;
  padding: 1em 0 1em 0;
  font-size: 1.3em;
  margin: 2.3em auto 0 auto;
  color: #fff;
}

.createSecond {
  vertical-align: middle;
}

.footer {
  background-color: #000000;
  padding: 1.875em 0 1.25em 0;
}

.links {
  color: white;
  text-align: center;
  margin-bottom: 1.5em;
}

ul {
  list-style: none;
  margin-left: -1.5em
}

li {
  display: inline-block;
  margin: 0 .5em;
}

.f-links {
  font-size: .6em;
}

.footerLogo {
  color: #fff;
  width: 15%;
  height: 1em;
  margin: 0 auto;
  font-size: .675em;
}
