.lighterHeader {
  background-color: #008AC2;
  height: 3.75em;
}

.logo {
    height: 1.875em;
    width: 1.875em;
    margin-left: 1em;
    background-color: #fff;
    float: left;
    margin-top: 1em;
}

.title {
  height: 1.875em;
  width: 10em;
  background-color: white;
  margin-left: 3.875em;
  float: left;
  margin-top: 1em;
}

.darkerHeader {
  height: 3.75em;
  background-color: #006FA6;
  width: 4.375em;
  float: right;
}

.first {
  background-color: #344052;
  color: white;
  text-align: center;
  padding-bottom: 4.6875em;
  padding-top: 10em;
}

.top {
    font-family: 'Helvetica', sans-serif;
}

.aboveButton {
  font-family: 'Helvetica', sans-serif;
}

.firstButton {
  background-color: #118BC0;
  text-align: center;
  margin: 0 auto 0 auto;
  width: 30%;
  height: 2em;
  border: .5em solid #212934;
  margin-bottom: 13.125em;
}

.down {
  width: 5%;
  height: 1em;
  background-color: #ffffff;
  margin: 0 auto 0 auto;
  margin-bottom: 8.4375em;
}

.para {
  width: 50%;
  background-color: white;
  margin: 0 auto;
  height: 2em;
  margin-bottom: 1.875em;
}

.second {
  background-color: #E8F0F5;
  padding: 11.875em 0 1.25em 0;
}

.greyWrap {
  background-color: #D1D3D7;
  padding: 1.875em 0 .075em 0;
  width: 98%;
  margin: 0 auto 0 auto;
}

.greyDiv{
  background-color: #fff;
  height: 13.475em;
  margin: 0 auto 1.875em auto;
  width: 96%;
}

.secondButton {
  background-color: #118BC0;
  height: 2em;
  width: 30%;
  margin: 6.25em auto 0 auto;
}

.footer {
  background-color: #000000;
  padding: 1.875em 0 1.25em 0;
}

.links {
  color: white;
  text-align: center;
  margin-bottom: 1.5em;
}

a {
  margin: 0 1.5em;
}

.footerLogo {
  background-color: #fff;
  width: 15%;
  height: 1em;
  margin: 0 auto;
}
